
.container {
    height: 100%;
    min-height: 800px;
    max-width: 1264px;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}


.content {
    width: calc(100% - 164px);
    display: flex;
    flex-grow: 10;
    flex-basis: 0%;
}

.mainbar {
    display: flex;
    padding: 4%;
    flex-direction: column;
    width: 100%;
}
.userLastSeen {
    color: var(--black-400) !important;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    list-style: none; /* Убираем маркеры у списка */
}

.userLastSeen li {
    margin-right: 10px; /* Пространство между элементами списка */
}

.userLastSeen .flex--item {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Запрет переноса на новую строку */
}

.userLastSeen .flex--item .flex--item {
    margin-left: 10px; /* Пространство между иконкой и текстом */
}


.mainbarHead {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.userdata {
    padding: 4%;
       
}
.userNameFont {
    font-size: var(--fs-headline2) !important;
}
.mainbarNav {
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 3px;

}
.mainbarNavSort {
    padding: 2%;
    display: flex;
    max-width: calc(50% - 20px);
    gap: 3px;
}
.profileView {
    border-radius: var(--br-md) !important;
    border-top-left-radius: ;
    border-top-right-radius: ;
    border-bottom-right-radius: ;

}
.mainbarNavElement {
    padding-inline: 2%;
    border: 1px solid black;
    border-radius: 10px;
}

.fontType {
    font-size: var(--fs-title) !important;
}
.mainbarBody {
    
}

.mainbarBodySummary {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    
}
.mainbarBodySummaryEl {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px); 
}

.mainbarBodySummaryElHeader {
    max-width: calc(50% - 8px);

}
.mainbarBodySummarySort {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px); /* Изменено с 50% на 50% - 20px */
}

.mainbarBodySummaryElBody {
    display: flex;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5%;
}