
<div className="PresentationSNavigation" style={{width: 74.36, paddingTop: 2, paddingBottom: 2, justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
    {/* <div className="Item" style={{height: 29, flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
      <div className="Link" style={{alignSelf: 'stretch', paddingTop: 6, paddingBottom: 6, paddingLeft: 12, paddingRight: 11.36, borderRadius: 1000, justifyContent: 'flex-start', alignItems: 'center', display: 'inline-flex'}}>
        <div className="Products" style={{color: '#636B74', fontSize: 11.88, fontFamily: 'Inter', fontWeight: '400', lineHeight: 17, wordWrap: 'break-word'}}>Products</div>
      </div>
    </div> */}
  </div>


  <div className="Search" style={{flex: '1 1 0', height: 31.92, paddingLeft: 8, paddingRight: 8, justifyContent: 'flex-start', alignItems: 'center', display: 'flex'}}>
    {/* <div className="DivSTopbarSearchbarInputGroup" style={{flex: '1 1 0', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
      <div className="ComboboxSearch" style={{alignSelf: 'stretch', height: 31.92, paddingTop: 7.79, paddingBottom: 8.13, paddingLeft: 32.67, paddingRight: 9.76, background: 'white', borderRadius: 6, border: '1px #BABFC5 solid', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
        <div className="DivPlaceholder" style={{alignSelf: 'stretch', height: 16, paddingTop: 1, paddingBottom: 1, paddingRight: 686.30, flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'flex'}}>
          <div className="Search" style={{color: '#636B74', fontSize: 11.58, fontFamily: 'Inter', fontWeight: '400', wordWrap: 'break-word'}}>Search…</div>
        </div>
      </div>
      <div className="Svg" style={{width: 18, height: 18, left: 9.10, top: 6.96, position: 'absolute'}}>
        <div className="Vector" style={{width: 18, height: 18, left: 0, top: 0, position: 'absolute', background: '#636B74'}}></div>
      </div>
    </div> */}
  </div>
  <div className="Nav" style={{height: 52.67, paddingRight: 12, flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-end', display: 'inline-flex'}}>
    {/* <div className="Menubar" style={{flex: '1 1 0', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
      <div className="Menuitem" style={{width: 64.91, alignSelf: 'stretch', paddingTop: 14.33, paddingBottom: 14.34, paddingLeft: 12, paddingRight: 12, justifyContent: 'flex-start', alignItems: 'center', gap: 4, display: 'flex'}}>
        <div className="DivSAvatar" style={{width: 24, height: 24, background: 'white', borderRadius: 4, flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
          <img className="Acg8ocjtcxdfekcadyba2bxwckpq9ltkqh6u65dwrqplqyevKS48" style={{width: 24, height: 24, position: 'relative', borderRadius: 4}} src="https://via.placeholder.com/24x24" />
        </div>
        <div className="List" style={{paddingRight: 6, justifyContent: 'flex-start', alignItems: 'center', display: 'flex'}}>
          <div className="Item" style={{paddingRight: 0.91, flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'flex-start', display: 'inline-flex'}}>
            <div style={{color: '#636B74', fontSize: 12, fontFamily: 'Inter', fontWeight: '700', lineHeight: 12, wordWrap: 'break-word'}}>1</div>
          </div>
        </div>
      </div>
      <div className="MenuitemInbox" style={{width: 40, alignSelf: 'stretch', paddingTop: 17.33, paddingBottom: 17.34, paddingLeft: 10, paddingRight: 10, justifyContent: 'flex-start', alignItems: 'center', display: 'flex'}}>
        <div className="Svg" style={{width: 20, height: 18, position: 'relative'}}>
          <div className="Vector" style={{width: 20, height: 16, left: 0, top: 1, position: 'absolute', background: '#636B74'}}></div>
        </div>
      </div>
      <div className="MenuitemAchievements" style={{width: 38, alignSelf: 'stretch', paddingTop: 17.33, paddingBottom: 17.34, paddingLeft: 10, paddingRight: 10, justifyContent: 'flex-start', alignItems: 'center', display: 'flex'}}>
        <div className="Svg" style={{width: 18, height: 18, position: 'relative'}}>
          <div className="Vector" style={{width: 18, height: 16, left: 0, top: 1, position: 'absolute', background: '#636B74'}}></div>
        </div>
      </div>
      <div className="Menuitem" style={{width: 38, alignSelf: 'stretch', paddingTop: 17.33, paddingBottom: 17.34, paddingLeft: 10, paddingRight: 10, justifyContent: 'flex-start', alignItems: 'center', display: 'flex'}}>
        <div className="Svg" style={{width: 18, height: 18, position: 'relative'}}>
          <div className="Vector" style={{width: 16, height: 16, left: 1, top: 1, position: 'absolute', background: '#636B74'}}></div>
        </div>
      </div>
      <div className="MenuitemSiteSwitcher" style={{width: 38, alignSelf: 'stretch', paddingTop: 17.33, paddingBottom: 17.34, paddingLeft: 10, paddingRight: 10, justifyContent: 'flex-start', alignItems: 'center', display: 'flex'}}>
        <div className="Svg" style={{width: 18, height: 18, position: 'relative'}}>
          <div className="Vector" style={{width: 16, height: 17, left: 1, top: 1, position: 'absolute', background: '#636B74'}}></div>
        </div>
      </div>
    </div> */}
  </div>