.top-panel {
    --theme-topbar-height: 56px;
    min-width: auto;
    width: 100%;
    z-index: var(--zi-navigation-fixed);
    background-color: var(--theme-topbar-background-color, var(--white));
    height: var(--theme-topbar-height, calc(var(--su-static48))) + var(--su-static8);
    display: flex;
    border-top: var(--theme-topbar-accent-border, 3px solid black);
    border-bottom: var(--theme-topbar-bottom-border, 1px solid var(--black-225));
    position: relative;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden; /* Добавлено свойство overflow: hidden; */
    justify-content: center;
}
/* Стили для контейнера верхней панели */
.top-panel-container {
    width: var(--s-full);
    max-width: 70%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

/* Стили для логотипа */
.top-panel--logo {
    padding: 0 var(--su8);
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;

    justify-content: flex-start;
}

.img-glyph {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;;
}

/* Стили для поля поиска */
.top-panel--searchbar {
    padding: 0 var(--su8);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили для контейнера поля поиска */
.top-panel--searchbar--input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Стили для ввода в поле поиска */
.top-panel--searchbar--input-group-input {
    --_in-bc: var(--bc-darker);
    --_in-bc-focus: var(--theme-secondary-400);
    --_in-bg: var(--white);
    --_in-br: var(--br-md);
    --_in-bs-focus: 0 0 0 var(--su-static4) var(--focus-ring);
    --_in-c: unset;
    --_in-fc: var(--fc-dark);
    --_in-fc-focus: var(--black);
    --_in-fs: var(--fs-body1);
    --_in-o: unset;
    --_in-px: .6em;
    --_in-py: .5em;
    --_in-placeholder-fc: var(--black-300);
    scrollbar-color: var(--scrollbar) transparent;
    background-color: var(--_in-bg);
    border: var(--su-static1) solid var(--_in-bc);
    border-radius: var(--_in-br);
    color: var(--_in-fc);
    cursor: var(--_in-c);
    font-size: var(--_in-fs);
    opacity: var(--_in-o);
    padding: var(--_in-py) var(--_in-px) var(--_in-py) var(--_in-pl, var(--_in-px));
    font-family: inherit;
    margin: 0;
    width: 100%;
    height: 25px;
    padding: 10px 30px;
    flex-grow: 1;

}

/* Стили для иконки поиска */
.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}

.authorize {
    overflow-x: auto;
    /* padding-right: 12px; */
    height: 30px;
}

.top-panel--content {
    height: 30px;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    scrollbar-color: var(--scrollbar) transparent;
}

.top-panel--content-element {
    display: inline-flex;
    align-self: center;
    /* height: 5px;
    weight: 5px; */
    /* padding-top: var(--su8);
    padding-bottom: var(--su8); */
}