.flush-left {
  margin-left: -24px;
  border-top: 1px solid var(--black-225);
}

#qlist-wrapper {
  clear: both;
}

.question-mini-list {
  margin-top: 20px; /* Add some top margin to create space between elements */
  flex: 1; /* Allow the element to grow and shrink to fill available space */

}


.navLinks {
  padding: 0;
  margin: 0 0 12px;
  list-style: none;
}


.mainBar {
  width: calc(100% - 300px - var(--su-static24));
  float: left;
  flex: 1;
  margin: 0;
  padding: 0;
}
