.s-post-summary {
    display: flex;
    border-top: 1px solid #6b6666; /* Граница сверху */
    /* border-bottom: 1px solid #000; Граница снизу */
    padding: var(--su16);
}



.s-post-summary--stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--fc-light);
    
    font-size: var(--fs-body1);
    gap: var(--su6);
    margin-bottom: var(--su4);
    margin-right: var(--su16);
}

.s-post-summary--stats-item {
    display: inline-flex;
    align-items: center;
    gap: .3em;
    white-space: nowrap;
}

.s-post-summary--stats-item-number {
    font-weight: 500;
}

.s-post-summary--content {
    flex-grow: 1;
}

.s-post-summary--content-title {
    display: block;
    font-size: var(--fs-body3);
    margin-bottom: .3846rem;
    margin-top: -0.15rem;
    padding-right: var(--su24);
}

.s-post-summary--content-title a {
    color: var(--theme-post-title-color, var(--theme-link-color, var(--theme-secondary-400)));
}

.s-post-summary--content-meta-user {
    justify-content: flex-end;
    display: flex;
    gap: var(--su4);
    align-items: center;
}

.s-post-summary--content-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--su6);
}

.s-post-summary--content-meta-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--su4);
    line-height: 18px;
}

.avatar {
    display: inline-block;
    width: var(--su-static16);
    height: var(--su-static16);
    background-color: var(--_white-static);
    border-radius: var(--br-sm);
}

.user-card--info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.user-card--link {
    font-size: var(--_uc-link-fs);
    white-space: var(--_uc-link-ws);
    overflow-wrap: break-word;
}

.user-card--awards,
.user-card--rep {
    display: flex;
    align-items: center;
    gap: var(--su6);
    list-style: none;
    margin: 0;
    padding: 0;
}
.user-card--rep {
    font-weight: 700;
}

.gs4>.d-flex, .gs4>.flex--item {
    margin: calc(var(--su4) / 2);
}

.user-card--time {
    white-space: nowrap;
    font-size: 12px;
}

.relativetime {
    gap: var(--su6);
    text-decoration: none;
}

a,
.s-link {
    color: var(--theme-link-color, var(--theme-secondary-400));
    cursor: pointer;
    text-decoration: none;
    /* user-select: auto; */
}
